In [ ]:
import pandas as pd
text = pd.read_csv('../data/Data/Day1.1.txt', sep="  ", header=None)
text

C:\Users\CL-11\AppData\Local\Temp\ipykernel_30708\188998210.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  text = pd.read_csv('Data/Day1.1.txt', sep="  ", header=None)

         0      1
0    61087  87490
1    31697  16584
2    57649  82503
3    75864  27659
4    27509  96436
..     ...    ...
995  55653  99467
996  16584  91025
997  11460  91094
998  85535  71742
999  85773  24213

[1000 rows x 2 columns]

In [2]:
list1 = text[0].tolist()
list2 = text[1].tolist()
print(list1[:3], list2[:3])

[61087, 31697, 57649] [87490, 16584, 82503]

In [3]:
list2.count(87490)

1

In [8]:
sim = [num * list2.count(num) for num in list1]
print(sum(sim))

23981443